@import url("https://fonts.googleapis.com/css?family=Inter");

html,
h1,
h2,
p,
a {
  font-family: "Inter";
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #c111114d;
}
.cursor-pointer {
  cursor: pointer !important;
}
